#app,#app>div,#app>div>.u-row,#app .u-navbar-side-container{
	height: 100%;
}

.console-navbar {
	background: #0f388a !important;
}
.console-nav .u-menu-horizontal > .u-menu-item,.console-nav .u-menu-horizontal > .u-menu-submenu > .u-menu-submenu-title {
	padding: 12px;
	color: #fff
}
.console-nav .u-menu-horizontal > .u-menu-item-active,.console-nav .u-menu-horizontal > .u-menu-submenu-active{
	background: #2e53a1;
	border: none;
}
.u-navbar .u-navbar-brand {
	padding: 12px !important;
	height: auto;
}
.u-navbar .u-navbar-nav > li{
	padding: 12px !important;
	color: #fff;
}
.u-badge .badge-single{
	color: #fff !important;
}
.u-input-group{
	margin-top: -2px !important;
}
.u-form-control {
	height: 24px !important;
}
.console-nav .uf-arrow-down{
	font-size: 12px;
}
#app .uf-search{
	color: #666;
}
.height100{
	height: 100%;
}
#app .u-navbar-side-container{
	background: #c7d5f2;
  /*width: 180px;*/
}
#app .u-menu-inline >.u-menu-submenu-open,#app .u-menu-inline > .u-menu-submenu-active,#app .u-menu-inline > .u-menu-submenu-active > .u-menu-submenu-title,#app .u-menu-inline >.u-menu-submenu-open .u-menu-submenu-title{
	background: #abc1e8;
  /*width: 180px;*/
}

#app .u-menu-submenu > .u-menu {
	background: #abc1e8;
	color: #1a3675;
}
#app .u-menu-inline .u-menu-inline .u-menu-item-selected,.u-menu-inline .u-menu-inline .u-menu-item-active {
	background: #8daae2;
	color: #133879;
}
#app .u-menu-inline > .u-menu-submenu > .u-menu-submenu-title{
	color: #133879;
}
#app .u-menu-submenu-selected{
	background: #c7d5f2;
}
#app .u-button {
	margin:0 5px;
}
#app .hint {
	float: left;
	background: #f5f5f5;
	line-height: 30px;
	padding: 0 15px;
	border-radius: 4px;
	color: #898989;
	font-size:12px;
}
#app .top {
	height:50px;
}
#app .buttons-wrap {
	clear:both;
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	border-bottom-width: 0;
	padding: 10px;
	position: relative;
	z-index: 100;
}
#app table.ui-table-head {
	border-width: 1px 0 1px 1px;
	border-color: #e5e5e5;
	border-style: solid;
	width:100%;
	table-layout: fixed;
	border-collapse: collapse;
	text-align:left;
}
#app table.ui-table-head th {
	background:#f5f5f5;
	border: 1px solid #e5e5e5;
	padding:10px;
	font-weight: normal;
	font-size:14px;
}
#app table.ui-table-head td {
	padding:10px;
	font-size:12px;
}
#app table.ui-table-head input {
	margin:0 5px;
}
.filter-wrap input {
	height:30px !important;
}
.buttons-right {
	float:right;
}
